body{
    margin: 0%;
    font-family: 'Alumni Sans Inline One', cursive;
font-family: 'Cabin', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
}
p{
    color: darkgreen;
}
.name-heighlight{
    color: palevioletred;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 60%;
}
.header-bg{
    
    background-image: url("images/header-bg.png");
    background-position: center;
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(180deg, pink, palevioletred);
    background-color: palevioletred;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.biodata{
    background-image: url("images/biography-bg.png");
    background-position: center;
}

.column{
    float: left;
    width: 33.33%;
    padding: 40px;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.row{
    display: flex;
}
.column{
    flex: 33.33%;
    padding: 40px;
}
.column img{
    width: 100%;
}
.work{
    background-image: url("images/latest-work-bg.png");
    background-position: center;
}
.end-part{
    background-image: url("images/footer-bg.png");
    background-position: center;
    text-align: center;
}
footer p{
    text-align: center;
}
